SONAR_GRAPHQL_URL=https://your-sonar-host.example.com/graphql
SONAR_API_TOKEN=replace_me
SONAR_PAGE_SIZE=50
HC_TECH_USER_IDS=344,341,340
DISPLAY_TIME_ZONE=Etc/GMT+6
SLACK_WEBHOOK_URL=
SLACK_TITLE_SUFFIX=- <@USERID1> <@USERID2> <@USERID3>
